<% provide(:title, 'Group Editing') %>
<% provide(:button_text, '更新') %>
<h1>グループ編集</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <%= render 'form' %>
  </table>
</div>