<% provide(:title, "Top") %>

<p><%= link_to "グループ作成", new_group_path %></p>
<div id="app">
  <navbar></navbar>
  <availablegroup></availablegroup>
  <contents></contents>
</div>

<%= javascript_pack_tag 'toppage' %>